rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Users/{userId} {
      allow read, write: if true; // Temporary open for dev, adjust later
      match /Masters/{masterId} {
        allow read, write: if true;
        match /Services/{serviceId} {
          allow read, write: if true;
        }
      }
    }
    match /Transactions/{transactionId} {
      allow read, write: if true;
    }
    match /Reviews/{reviewId} {
      allow read, write: if true;
    }
  }
}